/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #081f37;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    background: #000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    border-radius: 8px;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #90f6d7;
    text-shadow: #90f6d7 1px 0 10px;
}

/* Selector de tipo de historia */
select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #000;
    color: #90f6d7;
    cursor: pointer;
}

/* Lista de historias */
ul {
    list-style: none;
    padding: 0;
}


.story-item {
    border: 1px solid #bdebe0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }

  

li h2 {
    margin: 0;
    font-size: 18px;
}

li a {
    text-decoration: none;
    color: #90f6d7;
}

li p {
    margin: 5px 0;
    color: #bbb;
    font-size: 14px;
}

/* Botón de cargar más */
button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #35bcbf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bolder;
}

button:hover {
    background-color: #1e549f;
}