body {
    font-family: Arial, sans-serif;
    background-color: #081f37;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 {
    text-align: center;
    color: #90f6d7;
    text-shadow: #90f6d7 1px 0 10px;
}

/* Selector de tipo de historia */
select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #0a0e1a;
    color: #90f6d7;
    cursor: pointer;
}

/* Lista de historias */
ul {
    list-style: none;
    padding: 0;
}


.story-item {
    position: relative;
    background: #0a0e1a;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    overflow: hidden;
}




li h2 {
    margin: 0;
    font-size: 18px;
    z-index: 1;
}

li a {
    text-decoration: none;
    color: #90f6d7;
}

li p {
    margin: 5px 0;
    color: #bbb;
    font-size: 14px;
}

/* Botón de cargar más */
button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #35bcbf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bolder;
}

button:hover {
    background-color: #1e549f;
}